.categorias {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 170px));

    gap: 15px;
    max-height: 90vh;

    box-sizing: border-box;
    padding: 16px;

    justify-content: center;
}