.item {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-top: 8px;
    padding: 20px;

    overflow: hidden;
    /*esconde o que exceder a container*/
    overflow-y: auto;
    /*adiciona uma rolagem*/

    background-color: white;
    border-radius: 12px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
    box-sizing: border-box;
}