.btn {
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: #ccc;
    color: rgb(49, 49, 49);

    border-radius: 50%;
    border: none;

    text-align: center;

    width: 30px;
    height: 30px;
}

.btn:hover {
    background-color: gray;
    color: #ccc;
}