.btn {
    font-size: 0.8em;
    background-color: #ccc;
    color: rgb(49, 49, 49);
    border-radius: 50px;
    padding: 8px 12px;

    border: none;

    max-width: fit-content;
}

.btn:hover {
    background-color: gray;
    color: #ccc;
}